<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
	<session-factory>
		<property name="connetcion.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="swow_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<mapping class="models.Accounts"/>
		<mapping class="models.Model"/>
		<mapping class="models.Order"/>
		<mapping class="models.Product"/>
	</session-factory>
</hibernate-configuration>